<hr>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">
            INICIO
        </h1>
        <br>
        <h4 class="text-center">
            Bienvenido al dashboard de monitoreo de pasos.
        </h4>
        <br>
        <div class="text-center">
            <a href="/displays" class="btn btn-primary" style="color:white">Iniciar</a>
        </div>
        <br>
    </div>
</div>