<hr>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">
            Monitor de Conexión
        </h1>
        <br>
        <h4 class="text-center">
            Conexion a Base de datos Exitosa
        </h4>
        <br>
        <div class="text-center">
            <a href="/" class="btn btn-danger" style="color:white">Salir</a>
        </div>
        <br>
    </div>
</div>